@model UserDocument

<div class="text-center">
    <form asp-controller="Document" asp-action="UpdateDocument" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserReference)
        @Html.TextBoxFor(m => m.DocumentTitle, new { required="required" })
        <br />
        <input name="DocumentCreateDate" type="date" value="@Model.DocumentCreateDate.ToString("yyyy-MM-dd")" required />
        <br />
        @Html.PasswordFor(m => m.DocumentPassword, new { required = "required", value=Model.DocumentPassword })
        <br />
        @Html.HiddenFor(m => m.DocumentNumber)
        <br />
        @Html.TextAreaFor(m => m.DocumentDescription, new { required = "required" })

        <input type="submit" value="Update" />
    </form>
</div>