@model AuthenticationModel

<div>@Context.User.Identity.Name</div>
<div class="text-center">
    <form asp-controller="Auth" asp-action="Login" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ReturnUrl)
        @Html.TextBoxFor(m => m.Email, new { required="required", type="email" })
        <br />
        @Html.PasswordFor(m => m.Password, new { required="required", value=$"{Model.Password}" })
        <br />
        <button type="submit">Login</button>
    </form>
    <br />
    <hr />
    <br />
    <form asp-controller="Auth" asp-action="Register" method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ReturnUrl)
        @Html.TextBoxFor(m => m.Email, new { required="required", type="email"})
        <br />
        @Html.PasswordFor(m => m.Password, new { required="required", value=$"{Model.Password}"  })
        <br />
        <button type="submit">Register</button>
    </form>
</div>